################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/charitysg/v16
/.vs/charitysg/config
/.vs/slnx.sqlite